<div class="project">
	<section class="section">
		<div class="section-content">
			<h2 class="section-hdr xl text-center">{{name}}</h2>
			<div class="project-row">
				<div class="project-col">
					<div class="project-image">
						<a href="{{website}}" target="_blank">
							<img src="{{imgPath}}" alt="Website for {{name}}" />
						</a>
					</div>
				</div>
				<div class="project-col">
					<div class="project-description">
						{{description}}
					</div>
					<p>View the Project: <a href="{{website}}" target="_blank">{{websiteShortUrl}}</a></p>
					{{tags}}
				</div>
			</div>
		</div>
	</section>
</div>