<div class="team-bio eq-height">
	<div class="team-bio-col eq-height-item">
		<div class="team-bio-img">
			<img src="{{imgPath}}" alt="{{fname}} {{lname}}" />
		</div>
		<div class="team-bio-meta">
			<h3 class="team-bio-name">{{fname}} {{lname}}</h3>
			<h4 class="team-bio-title">{{title}}</h4>
		</div>
		<ul class="team-bio-contact">
			<li><a href="mailto:{{email}}"><i class="material-icons">email</i>{{email}}</a></li>
			<li><a href="tel:{{phone}}"><i class="material-icons">phone</i>{{phone}}</a></li>
		</ul>
	</div>
	<div class="team-bio-col eq-height-item">
		<div class="team-bio-description">
			{{description}}
		</div>
	</div>
</div>