.banner {
    position: relative;

    &-home {
        background: rgba($color-primary, .95);
        color: $white;
    }

    &-bg {
        background-position: right center;
        background-repeat: no-repeat;
        background-size: contain;
        border: 1rem solid transparent;
        border-right: 0;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 0;

        @include susy-media($bp-tablet) {
            border: 1.5rem solid transparent;
            border-right: 0;
        }

        @include susy-media($bp-xwide) {
            border: 2rem solid transparent;
        }

        $bg-version: 1;
        $bgs: about services;
        @each $bg in $bgs {
            &-#{$bg} {
                background-image: url(/img/#{$bg}/bg.v#{$bg-version}.png);
            }
        }
    }

    &-overlay {
        background: #fff;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 1;

        @include susy-media($bp-tablet) {
            background: linear-gradient(to right, $white, $white 60%, rgba($white, .4));
        }

        @include susy-media($bp-wide) {
            background: linear-gradient(to right, $white, $white 67.5%, rgba($white, 0) 98.5%, rgba($white, 0));
        }

        @include susy-media($bp-wide) {
            background: linear-gradient(to right, $white, $white 60%, rgba($white, 0) 95%, rgba($white, 0));
        }

        &-alt {
            background: linear-gradient(135deg, #C0C6D6, #F5F7F6);
        }
    }

    &-content {
        @extend .content-container;
        align-items: center;
        display: flex;
        flex-flow: column;
        max-width: 94%;
        min-height: 30vh;
        padding: 3rem 1.5rem;
        position: relative;
        z-index: 2;
        
        .banner-home & {
            max-width: $max-width-px !important;
            min-height: 450px;
            transform: translateX(0) !important;
        }

        &.no-pull {
            transform: translateX(0) !important;
        }

        @include susy-media($bp-tablet) {
            flex-flow: row;
            max-width: 704px;
        }

        @include susy-media($bp-large) {
            max-width: 850px;
        }

        @include susy-media($bp-wide) {
            max-width: 1050px;
            padding: 5.5rem;
            transform: translateX(-180px);
        }

        @include susy-media($bp-xwide) {
            transform: translateX(-280px);
        }

        p {
            font-size: 1.2rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include susy-media($bp-large) {
                font-size: 1.3rem;
            }

            @include susy-media($bp-xwide) {
                font-size: 1.4rem;
            }
        }
    }

    &-col {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &.solo {
            float: none !important;
            padding: 0 !important;
            text-align: center !important;
            width: 100% !important;
        }

        @include susy-media($bp-tablet) {
            float: left;
            padding: 0 2rem 0 0;
            width: 40%;

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:last-child {
                float: right;
                padding: 0 0 0 2rem;
                text-align: right;
                width: 60%;
            }
        }
    }

    &-hdr {
        @extend .section-hdr;
        @extend .xl;

        &.white {
            color: #fff;
        }
    }

    &-tagline {
        font-size: 1.45rem;
        letter-spacing: 1px;
        line-height: 1.35;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        @include susy-media($bp-tablet) {
            font-size: 1.65rem;
        }

        @include susy-media($bp-wide) {
            font-size: 1.85rem;
        }
    }
}