.banner {
    position: relative;

    &-home {
        background: rgba($color-primary, .95);
        color: $white;
    }

    &-content {
        @extend .content-container;
        align-items: center;
        display: flex;
        flex-flow: column;
        min-height: 30vh;
        padding: 3rem 1.5rem;
        
        .banner-home & {
            min-height: 450px;
        }

        p {
            font-size: 1.1rem;
            line-height: 1.5;
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include susy-media($bp-large) {
                font-size: 1.2rem;
            }
        }

        @include susy-media($bp-tablet) {
            flex-flow: row;
        }

        @include susy-media($bp-wide) {
            padding: 8rem 5.5rem;
        }
    }

    &-col {
        &:not(:last-child) {
            margin-bottom: 2rem;
        }

        &.solo {
            text-align: center  !important;
            width: 100% !important;
        }

        @include susy-media($bp-tablet) {
            float: left;
            padding: 0 2rem 0 0;
            width: 40%;

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:last-child {
                float: right;
                padding: 0 0 0 2rem;
                text-align: right;
                width: 60%;
            }
        }
    }

    &-hdr {
        @extend .section-hdr;
        @extend .xl;
    }

    &-tagline {
        font-size: 1.45rem;
        letter-spacing: 1px;
        line-height: 1.35;

        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        @include susy-media($bp-tablet) {
            font-size: 1.65rem;
        }

        @include susy-media($bp-wide) {
            font-size: 1.85rem;
        }
    }
}