// -------------
// Button Styles
// -------------


// -----------------------------
// Button Background Color mixin
// -----------------------------
@mixin btn-color($color: $btn-bg) {
	background: $color;
	border-color: $color;

	// -------------
	// Button States
	// -------------

	// Hover State
	&:hover {
		$hover-color: lighten($color, 5%);

		background: $hover-color;
		border-color: $hover-color;
	}

	// Focus State
	&:focus {

	}

	// Active State
	&:active {
		background-color: darken($color, 10%);
		outline: 0;
	}

	// Disabled State
	&:disabled {	
		background-color: darken($color, 10%);
		cursor: default;
        opacity: .65;
	}
}


// ---------------
// Button Defaults
// ---------------
button,
.btn {
	border: 1px solid $btn-border;
    border-radius: $btn-border-radius;
	color: $white;
	cursor: pointer;
	display: inline-block;
	font-size: $base-font-size;
	line-height: $base-line-height;
	padding: 4px 10px 4px;
	text-align: center;
    transition: all .2s linear;
	vertical-align: middle;
	
	@include btn-color($btn-bg);


	// ------------
	// Button Sizes
	// ------------

	// XL & Large
	&.btn-xl,
	&.btn-large {
		line-height: normal;
		border-radius: $btn-border-radius + 1;
	}

	// Extra Large
	&.btn-xl {
		font-size: $base-font-size + 4px;
	}

	// Large
	&.btn-large {
		font-size: $base-font-size + 2px;
		padding: 9px 14px;
	}

	// Small
	&.btn-small {
		font-size: $base-font-size - 2px;
		line-height: $base-line-height - 2px;
		padding: 5px 9px;
	}

	// Mini
	&.btn-mini {
		font-size: $base-font-size - 2px;
		line-height: $base-line-height - 4px;
		padding: 2px 6px;
	}


	// ----------------
	// Alternate Colors
	// ----------------

	// Green Button	
	&.btn-green {
		@include btn-color($green);
	}

	// Red Button
	&.btn-red {
		@include btn-color($red);
	}
	
	// Yellow Button
	&.btn-yellow {
		@include btn-color($yellow);
	}

	// Orange Button
	&.btn-orange {
		@include btn-color($orange);
	}

	// Blue Button
	&.btn-blue {
		@include btn-color($blue);
	}
}