.card {
    @extend .container;
    @extend .container-sm;
    background: $white;
    border: 1px solid $si-gray-lighter;
    border-radius: 2px;
    box-shadow: 0 1px 3px $si-gray-lighter;
    color: $body-color;
    font-size: 20px;
    margin-top: 30px;
    padding: 30px 50px;
    z-index: 3;

    &-pull {
        margin-bottom: -100px;
        margin-top: 0;
        transform: translateY(-100px);
    }

    &-hdr {
        color: $si-gray-darker;
        font-family: $font-med;
        font-size: 26px;
        line-height: 1.1;
        margin: 0 0 20px;
    }

    &-links {
        @extend %list-style-none;
        border-top: 1px solid $si-gray-lighter;
        margin: 0 -50px;
        padding: 30px 50px 0;

        li {
            @extend %display-inline-block;
            margin: 0 30px 0 0;

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            @extend %text-transform-uppercase;
            font-family: $font-secondary;
            font-size: 18px;
            letter-spacing: 1px;
            @include link-colors($si-orange, $si-orange);
        }
    }
}