.clients {
    @extend .clearfix;
    @extend %list-style-none;
    @extend %no-margin;
    @extend %text-align-center;
    
    @include susy-media($bp-large) {
        padding: 0 20px;
    }

    @include susy-media($bp-xwide) {
        padding: 0 50px;
    }
}

.client {
    @extend %display-inline-block;
    @extend %float-none;
    margin-bottom: 35px;

    @include susy-media($bp-tablet) {
        margin-left: 10px;
        margin-right: 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    @include susy-media($bp-large) {
        margin-left: 25px;
        margin-right: 25px;
    }
}