.clients {
    @extend .clearfix;
    @extend %list-style-none;
    @extend %no-margin;
    @extend %text-align-center;
    padding: 0 50px;
}

.client {
    @extend %display-inline-block;
    @extend %float-none;
    margin-bottom: 35px;

    &:not(:last-child) {
        margin-right: 50px;
    }
}