$icons: twitter facebook gplus insta;

@each $icon in $icons {
    .icon-#{$icon} {
        background-image: url(/img/icons/#{$icon}.v1.svg);
    }
}

.icon {
    @extend %display-inline-block;
    height: 24px;
    vertical-align: middle;
    width: 24px;

    &-twitter {
        height: 20px;
    }
}