.page-wrapper {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    transition: opacity .375s ease,
                transform .375s ease;

    &.in {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}