.partners-list {
    display: flex;
    flex-direction: column;

    a {
        display: block;
        margin: 0 auto;

        &:not(:last-child) {
            margin-bottom: 2rem;
        }
    }

    img {
        height: 40px;
        max-height: 40px;
        width: auto;
    }

    @include susy-media($bp-tablet) {
        align-items: center;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;

        a {
            float: left;
            margin: 1.5rem 2.5rem;
        }

        img {
            height: 50px;
            max-height: 50px;
        }
    }

    @include susy-media($bp-wide) {
        a {
            margin: 2rem 3.5rem;
        }
    }
}