.section {
    padding: 2.5rem 1.5rem;
    position: relative;

    &-mbl-pad {
        padding: 0;
    }

    @include susy-media($bp-tablet) {
        padding: 3.5rem 2rem;

        &-mbl-pad {
            padding: 0;
        }
    }

    @include susy-media($bp-large) {
        padding: 4rem 2.5rem;

        &-mbl-pad {
            padding: 0;
        }
    }

    @include susy-media($bp-wide) {
        padding: 6.5rem 4rem;
    }

    @include susy-media($bp-massive) {
        padding: 8rem 6.5rem;
    }

    // ---------------
    // Alternate Backgrounds
    // ---------------
    &-gray {
        background: #fafafa;
    }

    // ---------------
    // Section Content
    // ---------------
    &-content {
        @extend .content-container;
        @extend .clearfix;

        // ---------------
        // Different content container sizes
        // ---------------
        &.sm {
            max-width: 900px;
        }

        p,
        ul,
        ol {
            font-size: 1.1rem;
            margin-bottom: 1.5rem;

            &:last-child {
                margin-bottom: 0;
            }

            @include susy-media($bp-large) {
                font-size: 1.2rem;
            }
        }

        p {
            line-height: 1.5;
        }

        li {
            line-height: 1.25;

            &:not(:last-child) {
                margin-bottom: .5rem;
            }
        }

        .row {
            margin-bottom: 0;

            @include susy-media($bp-tablet) {
                &:not(:last-child) {
                    margin-bottom: 2rem;
                }
            }
        }

        a {
            @include link-colors($color-primary, $color-primary);
        }
    }


    // ---------------
    // Section Headers
    // ---------------
    &-hdr {
        font-size: 1.5rem;
        letter-spacing: 1px;
        line-height: 1.1;
        margin: 0 0 1.35rem;

        &:not(:first-child) {
            margin-top: 2rem;
        }

        &.xl {
            font-size: 2.3rem;
            margin: 0 0 1.5rem;
        }

        .material-icons {
            color: rgba($body-color, .85);
            display: block;
            font-size: 1.5em;
            margin-bottom: .5rem;
            text-align: center;
        }

        &.icon-left {
            .material-icons {
                display: inline-block;
                font-size: 1.2em;
                margin: 0 .65rem 0 0;
                text-align: left;
                transform: translateY(6px);
            }
        }

        @include susy-media($bp-tablet) {
            font-size: 1.65rem;

            &.xl {
                font-size: 2.5rem;
                margin: 0 0 2rem;
            }
        }

        @include susy-media($bp-large) {
            font-size: 1.85rem;
            line-height: 1.2;

            &.xl {
                font-size: 2.6rem;
            }
        }

        @include susy-media($bp-wide) {
            font-size: 2rem;

            &.xl {
                font-size: 2.8rem;
                margin-bottom: 2.5rem;
            }
        }

        @include susy-media($bp-xwide) {
            font-size: 2.2rem;

            &.xl {
                font-size: 3rem;
            }
        }
    }
}