// -------------------------------------------
// Border Box - Padding not included in width.
// -------------------------------------------
* { box-sizing: border-box; }


// -------------
// Global Styles
// -------------
html { 
	overflow-y: scroll;

	// Font
	font-family: $font-primary; 
    font-size: $base-font-size; 
    font-weight: $font-weight-regular;
    line-height: $base-line-height;

	// Prevent iOS, WinMobile from adjusting font size
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;

    &.withdrawer {
        height: 100%;
        width: 100%;
    }
} 

// ------------------
// Global body styles
// ------------------
body {
	// Color
	background: $body-background; 
	color: $body-color;
    text-align: left;
    
    &.modal-in {
        overflow: hidden;
    }

    .noscroll {
        overflow: hidden !important;
        max-height: 100%;
    }
}


// ---------
// Selection
// ---------
::-moz-selection{ background: $color-primary; color: #fff; }
::selection{ background: $color-primary; color: #fff; }

main {
    padding: 4rem 0 0;
}

#page-container {
    opacity: 1;
    transform: translateY(0);
    transition: opacity .425s cubic-bezier(0.075, 0.82, 0.165, 1),
                transform .425s cubic-bezier(0.075, 0.82, 0.165, 1);
    will-change: opacity, transform;

    .page-out & {
        opacity: 0;
        transform: translateY(80px);
    }
}