// -------------------------------------------
// Border Box - Padding not included in width.
// -------------------------------------------
* { box-sizing: border-box; }


// -------------
// Global Styles
// -------------
html { 
	overflow-y: scroll;

	// Font
	font-size: $base-font-size; 
	line-height: $base-line-height;

	// Prevent iOS, WinMobile from adjusting font size
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: none;

    &.withdrawer {
        height: 100%;
        width: 100%;
    }
} 

// ------------------
// Global body styles
// ------------------
body {
	// Color
	background: $body-background; 
	color: $body-color;

	// Font
	font-family: $font-primary; 
	text-align: left;
    
    &.modal-in {
        overflow: hidden;
    }
}


// ---------
// Selection
// ---------
::-moz-selection{ background: $color-primary; color: #fff; }
::selection{ background: $color-primary; color: #fff; }


// -------------------
// Browse Happy prompt
// -------------------
.browsehappy {
	margin: 0.2em 0;
	background: #ccc;
	color: #000;
	padding: 0.2em 0;
}

#main {
    @extend %position-relative;
    margin-bottom: $hdr-bar-height;
    top: $hdr-bar-height;
    z-index: 0;
}