/**
 * Typography styles
 * Fonts, type helpers, headers, body text, lists, and other typography helpers
 */


// ------------------------------
// Embedded Fonts with @font-face
// ------------------------------
@font-face {
	font-family: 'telegrafico';
	src: url('/font/telegrafico.eot');
	src: url('/font/telegrafico.eot?#iefix') format('embedded-opentype'),
         url('/font/telegrafico.woff2') format('woff2'),
		 url('/font/telegrafico.woff') format('woff'),
		 url('/font/telegrafico.ttf') format('truetype'),
		 url('/font/telegrafico.svg#TelegraficoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avenir-light';
	src: url('/font/avenir-light.eot');
	src: url('/font/avenir-light.eot?#iefix') format('embedded-opentype'),
         url('/font/avenir-light.woff2') format('woff2'),
		 url('/font/avenir-light.woff') format('woff'),
         url('/font/avenir-light.ttf') format('truetype'),
		 url('/font/avenir-light.svg#avenirlight') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avenir-medium';
	src: url('/font/avenir-medium.eot');
	src: url('/font/avenir-medium.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-medium.woff2') format('woff2'),
         url('/font/avenir-medium.woff') format('woff'),
		 url('/font/avenir-medium.ttf') format('truetype'),
		 url('/font/avenir-medium.svg#avenirMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'avenir-black';
	src: url('/font/avenir-black.eot');
	src: url('/font/avenir-black.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-black.woff2') format('woff2'),
         url('/font/avenir-black.woff') format('woff'),
		 url('/font/avenir-black.ttf') format('truetype'),
		 url('/font/avenir-black.svg#avenirblack') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'soucrce-code-pro-reg';
	src: url('/font/SourceCodePro-Regular.eot');
	src: url('/font/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/font/SourceCodePro-Regular.woff') format('woff'),
		 url('/font/SourceCodePro-Regular.svg#sourcecodeproreg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// -------
// Helpers
// -------
.text-left { @extend %text-align-left; }
.text-center { @extend %text-align-center; }
.text-right { @extend %text-align-right; }
.text-justify { @extend %text-align-justify; }
.text-xlarge { font-size: 1.4em; }
.text-larger { font-size: 1.25em; }
.text-large { font-size: 1.1em; }
.text-small { font-size: .9em; }
.text-smaller { font-size: .75em; }
.text-xsmall { font-size: .6em; }
.text-uppercase { @extend %text-transform-uppercase }


// -------
// Headers
// -------
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
	margin: 0;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
}


// ---------
// Body Text
// ---------
p {
    line-height: 1.5;
	margin: 0 0 30px;
}


// -----
// Lists
// -----
ul, ol {
	line-height: 1.5;
	margin: 0 0 30px 25px;
    padding: 0;
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
li {
	line-height: $base-line-height;
}


// -----
// Links
// -----
a {
    @extend %text-decoration-none;
	@include link-colors($link-color, $link-color-hover);	
}