/**
 * Typography styles
 * Fonts, type helpers, headers, body text, lists, and other typography helpers
 */


// ------------------------------
// Embedded Fonts with @font-face
// ------------------------------
@font-face {
	font-family: 'telegrafico';
	src: url('/font/telegrafico.eot');
	src: url('/font/telegrafico.eot?#iefix') format('embedded-opentype'),
         url('/font/telegrafico.woff2') format('woff2'),
		 url('/font/telegrafico.woff') format('woff'),
		 url('/font/telegrafico.ttf') format('truetype'),
		 url('/font/telegrafico.svg#TelegraficoRegular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-light';
	src: url('/font/avenir-light.eot');
	src: url('/font/avenir-light.eot?#iefix') format('embedded-opentype'),
         url('/font/avenir-light.woff2') format('woff2'),
		 url('/font/avenir-light.woff') format('woff'),
         url('/font/avenir-light.ttf') format('truetype'),
		 url('/font/avenir-light.svg#avenirlight') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-medium';
	src: url('/font/avenir-medium.eot');
	src: url('/font/avenir-medium.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-medium.woff2') format('woff2'),
         url('/font/avenir-medium.woff') format('woff'),
		 url('/font/avenir-medium.ttf') format('truetype'),
		 url('/font/avenir-medium.svg#avenirMedium') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'avenir-black';
	src: url('/font/avenir-black.eot');
	src: url('/font/avenir-black.eot?#iefix') format('embedded-opentype'),
		 url('/font/avenir-black.woff2') format('woff2'),
         url('/font/avenir-black.woff') format('woff'),
		 url('/font/avenir-black.ttf') format('truetype'),
		 url('/font/avenir-black.svg#avenirblack') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'soucrce-code-pro-reg';
	src: url('/font/SourceCodePro-Regular.eot');
	src: url('/font/SourceCodePro-Regular.eot?#iefix') format('embedded-opentype'),
		 url('/font/SourceCodePro-Regular.woff') format('woff'),
		 url('/font/SourceCodePro-Regular.svg#sourcecodeproreg') format('svg');
	font-weight: normal;
	font-style: normal;
}

// -------
// Helpers
// -------
.text-left { @extend %text-align-left; }
.text-center { @extend %text-align-center; }
.text-right { @extend %text-align-right; }
.text-justify { @extend %text-align-justify; }
.text-xlarge { font-size: 1.4em; }
.text-larger { font-size: 1.25em; }
.text-large { font-size: 1.1em; }
.text-small { font-size: .9em; }
.text-smaller { font-size: .75em; }
.text-xsmall { font-size: .6em; }
.text-uppercase { @extend %text-transform-uppercase }
.color-primary { color: $color-primary; }


// ------------
// General copy
// ------------
.copy {
    font-size: 1.15rem;

    .article-details {
        font-size: 1.2rem;
    }

    &-hdr {
        @extend %position-relative;
        font-size: 1.8rem;
        line-height: 1.25;

        .article-details & {
            font-size: 2rem;
        }
        
        &:not(:first-child) {
            margin-top: 35px;
        }

        &:not(:last-child) {
            margin-bottom: 15px;
        }

        &-xl {
            font-size: 3rem;
        
            &:not(:last-child) {
                margin-bottom: 30px;
            }    

            .article-details & {
                color: $color-primary;
                font-size: 3rem;
            }
        }

        i {
            @extend %position-relative;
            color: lighten($body-color, 15%);
            font-size: 2rem;
            margin-right: 8px;
            top: -2px;
            vertical-align: middle;
        }
    }

    p {
        @extend %no-margin;
        line-height: 1.5;

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &.mbs {
            margin-bottom: 10px;
        }
    }

    ul,
    ol {
        &:not(:last-child) {
            margin-bottom: 20px;
        }

        li {
            line-height: 1.3;

            &:not(:last-child) {
                margin-bottom: 8px;
            }
        }
    }

    a {
        @extend %display-inline-block;
        @extend %text-decoration-none;
        border-bottom: 1px dotted $color-primary;
        line-height: .8;
        padding-bottom: 0;
        @include link-colors($color-primary, $color-primary);
    }
}


// -------
// Headers
// -------
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
	margin: 0;
	text-rendering: optimizelegibility; // Fix the character spacing for headings
}


// -----
// Lists
// -----
ul, ol {
	padding: 0;
	margin: 0 0 ($base-line-height / 2) 25px;

    &.list-no-style {
        @extend %list-style-none;
        margin-left: 0;

        li {
            line-height: 1.25;

            &:not(:last-child) {
                margin-bottom: 6px;
            }
        }
    }
}
ul ul,
ul ol,
ol ol,
ol ul {
	margin-bottom: 0;
}
li {
	line-height: $base-line-height;
}


// -----
// Links
// -----
a {
	@include link-colors($link-color, $link-color-hover);	
}

strong,
b {
    font-family: $font-bold;
    font-weight: normal;
}