// -----------------
// Project Variables
// -----------------


// ----------------------
// Dimensions + Grid Vars
// ----------------------
$max-width-px:		1200px;
$base-font-size:	16px;
$base-line-height:	22px;


// Susy Settings
$total-columns:	12;
$column-width:	4em;


// -------------------
// Typography Settings
// -------------------
$font-primary: sans-serif;
$font-secondary: serif;
$font-bold: '';

$font-weight-regular: 400;
$font-weight-bold: 600;

// --------------------------
// Colors
// --------------------------

// Primary Colors
$color-primary: #dda14a;
$color-primary-dark: darken($color-primary, 7.5%);
$color-primary-light: lighten($color-primary, 7.5%);

// Secondary Colors
$color-secondary: #777;
$color-secondary-dark: darken($color-secondary, 7.5%);
$color-secondary-light: lighten($color-secondary, 7.5%);

// Helper Colors
$white: #fff;
$black: #000;


// Alert/Messaging Colors
$warning-text:		#c09853;
$warning-bg:		#fcf8e3;
$warning-border:	darken(adjust-hue($warning-bg, -10), 3%);

$error-text:		#b94a48;
$error-bg:			#f2dede;
$error-border:		darken(adjust-hue($error-bg, -10), 3%);

$success-text:		#468847;
$success-bg:		#dff0d8;
$success-border:	darken(adjust-hue($success-bg, -10), 5%);

$info-text:			#3a87ad;
$info-bg:			#d9edf7;
$info-border:		darken(adjust-hue($info-bg, -10), 7%);


// --------------------------
// Default Body Styles
// --------------------------
$body-background:	$white;
$body-color:		lighten($black, 17.5%);


// --------------------------
// Links
// --------------------------
$link-color:		#08c;
$link-color-hover:	darken($link-color, 15%);