// ------
// Footer
// ------
footer {
    @extend .paper;
    @extend .paper-pad-sm;
    border-top: 1px solid #e1e1e0;
    color: $color-secondary;
}

.footer-links {
    @extend .clearfix;
    @extend %list-style-none;
    @extend %no-margin;

    li {
        @extend %display-inline-block;
        @extend %float-left;

        &:not(:last-child) {
            margin-right: 15px;
        }

        &:last-child {
            float: right;
        }
    }

    a {
        @extend %text-decoration-none;
        @include link-colors($color-primary, $color-primary);

        i {
            @extend %display-inline-block;
            font-size: 1.45rem;
            margin-right: 4px;
            vertical-align: middle;
        }
    }
}