// ------
// Header
// ------
#hdr-main {
    @extend .clearfix;
    @extend %position-fixed;
    background: rgba($color-primary, .9);
    height: $hdr-bar-height;
    left: 0;
    padding: 0 50px;
    top: 0;
    width: 100%;
    z-index: 10;
}

#masthead-favicon {
    @extend %float-left;
    @extend %display-inline-block;
    height: $hdr-bar-height;
    line-height: $hdr-bar-height;

    a {
        @extend %display-block;
        @extend %text-decoration-none;
    }
}