// ------
// Header
// ------
#hdr-main {
    background: rgba($color-primary, .925);
    display: flex;
    height: 4rem;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 99;

    &:before {
        background: none;
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
                    0 2px 10px 0 rgba(0, 0, 0, 0.12);
        content: '';
        height: 4rem;
        left: 0;
        opacity: 1;
        position: absolute;
        top: 0;
        transition: opacity .275s ease;
        width: 100%;
        z-index: 98;
    }

    .home-top & {
        &:before {
            opacity: 0;
        }
    }
}

#masthead {
    display: inline-block;
    left: 1.5rem;
    opacity: 1;
    position: absolute;
    top: .5rem;
    transition: opacity .275s linear;
    z-index: 99;

    .home-top & {
        opacity: 0;
    }
}

#btn-nav-trigger {
    background: none;
    border: none;
    color: #fff;
    outline: none;
    padding: 0 1.5rem;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 101;

    .material-icons {
        font-size: 2.2rem;
        height: 4rem;
        line-height: 4rem;
    }

    @include susy-media($bp-large) {
        display: none;
    }
}