// ------
// Header
// ------
#hdr-main {
    @extend .clearfix;
    @extend %position-fixed;
    @extend .zdepth-1;
    background: rgba($color-primary, .9);
    height: $hdr-bar-height;
    left: 0;
    padding: 0 50px;
    top: 0;
    width: 100%;
    z-index: 10;

    .home & {
        box-shadow: none;
        transition: box-shadow .375s ease;
    }

    .home-scrolled & {
        box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16),
                    0 2px 10px 0 rgba(0, 0, 0, 0.12);
    }
}

#masthead-favicon {
    @extend %float-left;
    @extend %display-inline-block;
    height: $hdr-bar-height;
    line-height: $hdr-bar-height;

    .home & {
        opacity: 0;
        transition: opacity .375s ease;
    }

    .home-scrolled & {
        opacity: 1;
    }

    a {
        @extend %display-block;
        @extend %text-decoration-none;
    }
}