// Container Styles
//
// The .container element will have 2 primary children
//   .container-drawer and .container-main that will make up the global layout
//   and provide support for drawer off canvas navigation

// Dimension Settings
$drawer-width: 260px;

// Drawer Styles
$drawer-background: $body-background;
$drawer-padding: 0;
$drawer-transition-settings: .275s ease-in-out;

// Drawer Nav Styles
$drawer-nav-link-background: transparent;
$drawer-nav-link-background-hover: darken($drawer-background, 5%);
$drawer-nav-link-color: $body-color;
$drawer-nav-link-color-hover: $color-primary;
$drawer-nav-link-font-size: .85rem;
$drawer-nav-link-height: 50px;
$drawer-nav-link-padding: 0 15px;
$drawer-nav-link-transition: background .15s linear,
                             color .15s linear;
$drawer-nav-link-will-change: background, color;
$drawer-nav-link-icon-font-size: .85rem;
$drawer-nav-link-icon-margin: -4px 8px 0 0;

// Main Styles
$main-background: darken($body-background, .75%);
$main-padding: 30px;

// Container Drawer Overlay
$container-drawer-overlay-backgroud: rgba(10, 10, 10, .25);

// breakpoint to toggle the nav
$bp-nav-break: $bp-comp;


// --------------------
// Primary Container
// --------------------
.container {
    @extend %position-relative;
    bottom: 0;
    height: 100%;
    left: 0;
    overflow: hidden;
    right: 0;
    top: 0;
    width: 100%;


    // -------------------
    // Drawer Appearance
    // -------------------
    &-drawer {
        @extend .zdepth-1;
        @extend %position-fixed;
        background: $drawer-background;
        bottom: 0;
        left: 0;
        overflow-x: hidden;
        padding: $drawer-padding;
        top: 0;
        transform: translateX(-105%);
        transition: transform $drawer-transition-settings;
        width: $drawer-width;
        z-index: 3;

        .container-drawer-open & {
            transform: translateX(0);
        }

        // At $bp-nav-break bring the nav back on the screen
        //   and remove any box shadow
        @include susy-media($bp-nav-break) {
            box-shadow: none !important;
            transform: translate(0);
            transition: none;
            will-change: none;
        }
    }


    // -------------------------
    // Main Container Appearance
    // -------------------------
    &-main {
        @extend %position-relative;
        background: $main-background;
        left: 0;
        overflow: hidden;
        width: 100%;

        // At $bp-nav-break, move the main container
        //   and change the width to accomodate the nav 
        //   being present
        @include susy-media($bp-nav-break) {
            left: $drawer-width;
            width: calc(100% - #{$drawer-width});
        }


        // ----------------------------------
        // Apperance for content container in 
        //   main container
        // ----------------------------------
        &-content {
            @extend %position-relative;
            bottom: 0;
            height: calc(100vh - 56px);
            left: 0;
            overflow: hidden;
            overflow-y: auto;
            padding: $main-padding;
            right: 0;
            top: 0;
            width: 100%;
            word-break: break-word;
             -webkit-overflow-scrolling: touch;

            @include susy-media($bp-nav-break) {
                height: calc(100vh - 64px);
            }
        }
    }
}


// ------------------
// Drawer Nav/Menu
// ------------------
#drawer-nav {
    ul {
        @extend %list-style-none;
        @extend %no-margin;
    }

    li {

    }


    // -------------------
    // Link Appearance
    // -------------------
    a {
        @extend %display-block;
        @extend %text-decoration-none;
        background: $drawer-nav-link-background;
        font-size: $drawer-nav-link-font-size;
        height: $drawer-nav-link-height;
        line-height: $drawer-nav-link-height;
        padding: $drawer-nav-link-padding;
        transition: $drawer-nav-link-transition;
        will-change: $drawer-nav-link-will-change;
        @include link-colors($drawer-nav-link-color, $drawer-nav-link-color-hover);


        // ----------------------
        // Active and Hover state
        // ----------------------
        &.active,
        &:hover {
            background: $drawer-nav-link-background-hover;
            color: $drawer-nav-link-color-hover;
        }

        
        // --------------------
        // Links with icons
        // --------------------
        i {
            @extend %display-inline-block;
            font-size: $drawer-nav-link-icon-font-size;
            margin: $drawer-nav-link-icon-margin;
            vertical-align: middle;
        }
    }
}


// --------------------------------------
// Drawer Overlay
// Used for creating tap target to close
//   open drawer on mobile
// --------------------------------------
#container-drawer-overlay {
    @extend %position-absolute;
    background: transparent;
    bottom: auto;
    height: 0;
    left: 0;
    right: auto;
    top: 0;
    transition: background $drawer-transition-settings;
    width: 0;
    z-index: 2;

    .container-drawer-open & {
        background: $container-drawer-overlay-backgroud;
        bottom: 0;
        height: 100%;
        right: 0;
        width: 100%;
    }
}