// Toast Status Styles
//

// Default Toats Container Styles
$toast-background: rgba(0, 0, 0, .85);
$toast-border-radius: 2px;
$toast-color: $white;
$toast-font-size: .9rem;
$toast-height: 48px;
$toast-line-height: 48px;
$toast-min-width: 285px;
$toast-opacity: 0;
$toast-padding: 0 15px;
$toast-transform: translateY(140%);
$toast-transition: opacity .175s ease-out, transform .175s ease-out;
$toast-will-change: opacity, transition;

// Mobile position and size
$toast-mbl-bottom: 0;
$toast-mbl-left: 0;
$toast-mbl-right: 0;
$toast-mbl-top: auto;
$toast-mbl-width: 100%;

// Large position and size -- 1024px+
$toast-bottom: 15px;
$toast-left: 15px;
$toast-right: auto;
$toast-top: auto;
$toast-width: auto;

// When toast is active (visible)
$toast-active-opacity: 1;
$toast-active-transform: translateY(0);

.toast {
    @extend %position-fixed;
    @extend %text-align-left;
    background: $toast-background;
    border-radius: 0;
    bottom: $toast-mbl-bottom;
    color: $toast-color;
    font-size: $toast-font-size;
    height: $toast-height;
    left: $toast-mbl-left;
    padding: $toast-padding;
    right: $toast-mbl-right;
    top: $toast-mbl-top;
    transform: $toast-transform;
    transition: $toast-transition;
    will-change: $toast-will-change;
    width: $toast-mbl-width;
    z-index: 10;

    @include susy-media($bp-large) {
        border-radius: $toast-border-radius;
        bottom: $toast-bottom;
        left: $toast-left;
        min-width: $toast-min-width;
        right: $toast-right;
        top: $toast-top;
        width: $toast-width;
    }

    // When toast is active (visible) 
    &.active {
        opacity: $toast-active-opacity;
        transform: $toast-active-transform;
    }

    // Label for the toast
    &-label {
        height: $toast-height;
        line-height: $toast-line-height;
    }
}