<div class="form form-full-width">
	<div id="form-grid">
		<div class="admin-grid">
			<div class="float-right" style="margin:16px 24px 0 0;"><button id="btn-new" class="btn btn-raised btn-ripple">+ Add New <span class="lbl-item"></span></button></div>
			<h3 class="admin-grid-hdr"><span class="lbl-items"></span></h3>
			<div id="grid-container" class="admin-grid-rows"></div>
		</div>
	</div>
	<div id="form-edit" class="hidden">
		<div class="form-row">
			<div class="col text-right">
				<button id="btn-back" class="btn btn-raised btn-ripple">Back</button>
				<button id="btn-delete" class="btn btn-raised btn-ripple hidden">Delete</button>
				<button id="btn-save" class="btn btn-raised btn-ripple">Save</button>
			</div>
		</div>
	</div>
</div>