// ---------------
// Portfolio Grid
// ---------------
.projects-grid {
    @extend .clearfix;
    margin: 0 auto;
    max-width: 1400px;
}

.project-item {
    display: block;
    margin: 0;
    overflow: hidden;
    position: relative;

    &:not(:last-child) {
        margin-bottom: 4px;
    }

    @include susy-media($bp-tablet) {
        border-right: 2px solid transparent;
        float: left;
        width: 50%;

        &:nth-child(2n) {
            border-left: 2px solid transparent;
            border-right: none;
            float: right;
        }

        &:not(:last-child) {
            margin-bottom: 0;
        }

        &:nth-child(n + 3) {
            margin-top: 4px;
        }
    }

    @include susy-media($bp-comp ) {
        border: none !important;

        &:nth-child(n + 3) {
            margin-top: 0;
        }
    }

    &-overlay {
        align-items: center;
        background: rgba(#585A62, .75);
        color: $white;
        display: flex;
        flex-direction: column;
        height: 100%;
        justify-content: center;
        left: 0;
        position: absolute;
        top: 0;
        transition: opacity .325s ease;
        width: 100%;
        z-index: 1;

        @include susy-media($bp-comp) {
            background: rgba(#585A62, .55);
            opacity: 0;
        }
    }

    &-info {
        padding: 1rem;
        width: 100%;

        @include susy-media($bp-comp) {
            opacity: 0;
            transform: scale(1, 0) translateY(30px);
            transform-origin: center bottom;
            transition: opacity .425s ease .2s,
                        transform .425s ease .2s;
        }

        @include susy-media($bp-wide) {
            padding: 1rem 3rem;
        }
    }

    &-title {
        border-bottom: 1px solid rgba(#fff, .8);
        font-family: $font-bold;
        font-size: 1.35rem;
        line-height: 1.1;
        margin: 0 0 .75rem;
        overflow: hidden;
        padding: 0 0 .75rem;
        text-align: center;
        text-overflow: ellipsis;
        width: 100%;

        @include susy-media($bp-tablet) {
            font-size: 1.5rem;
        }
    }

    &-location {
        font-size: 1.1rem;
        margin: 0 0 .5rem;
        text-align: center;

        @include susy-media($bp-tablet) {
            font-size: 1.2rem;
        }
    }

    &-industries {
        list-style: none;
        margin: 0;
        text-align: center;

        li {
            display: inline-block;
            margin: 0 .5rem .5rem;

            &:not(:last-child) {
                margin-right: 0;

                &:after {
                    display: inline-block;
                    content: '|';
                    line-height: 0.9;
                    margin: 0 0 .5rem .5rem;
                    vertical-align: middle;
                }
            }
        }
    }

    img {
        transform: scale(1);
        transition: transform 1.525s ease;
    }

    &:hover {
        .project-item-overlay {
            opacity: 1;
        }

        .project-item-info {
            opacity: 1;
            transform: scale(1, 1) translateY(0);
        }

        img {
            filter: blur(1px);
            transform: scale(1.1);
        }
    }
}


// ---------------
// Project details
// ---------------
.project-row {
    @extend .row;
    display: flex;
    flex-direction: column;

    .project-col {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }
    }

    @include susy-media($bp-large) {
        flex-direction: row;

        .project-col {
            width: 57%;

            &:not(:last-child) {
                margin-bottom: 0;
            }

            &:last-child {
                padding-left: 3rem;
                width: 43%;
            }
        }
    }

    @include susy-media($bp-wide) {
        .project-col {
            width: 62.5%;

            &:last-child {
                width: 37.5%;
            }
        }
    }
}

.project {
    &-image {
        a {
            display: block;
            text-decoration: none;
        }
    }

    &-description {
        margin: 0 0 1.25rem;
    }

    &-tags {
        @extend .clearfix;
        list-style: none;
        margin: 0;

        li {
            display: inline-block;
            float: left;
            margin: 0 0 .5rem 0;

            &:not(:last-child) {
                margin-right: .5rem;
            }
        }

        a {
            background: #eaeaed;
            box-shadow: 0 0 0 0 transparent;
            color: $body-color;
            display: block;
            font-size: .9rem;
            height: 2.8rem;
            line-height: 2.8rem;
            padding: 0 1rem;
            text-decoration: none;
            transition: box-shadow .225s ease;

            &:hover {
                box-shadow: 0 1px 3px 1px rgba(#222, .15);
                color: $body-color;
            }
        }
    }
}