// Portfolio Page
.projects {
    @extend .clearfix;
    @extend %list-style-none;
    @extend %no-margin;
}

.project {
    &-col {
        @include full;
        @include break;
        margin-bottom: gutter();
        @extend %position-relative;
        @extend %text-align-center;

        @include susy-media($bp-tablet) {
            @include span(6);
            @include nobreak;

            &:nth-child(2n) {
                @include last;
            }

            &:nth-child(2n + 1) {
                @include break;
            }
        }

        @include susy-media($bp-large) {
            @include span(4);
            margin-bottom: gutter();

            &:nth-child(2n) {
                @include span(4);
            }

            &:nth-child(2n + 1) {
                @include nobreak;
            }

            &:nth-child(3n) {
                @include last;
            }

            &:nth-child(3n + 1) {
                @include break;
            }
        }
    }

    &-link {
        @extend %display-block;
        @extend %position-relative;
        @extend %text-decoration-none;

        &:hover {
            .project-overlay {
                opacity: 0;
            }

            .project-name {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &-overlay {
        @extend %position-absolute;
        background: rgba($white, .25);
        bottom: 0;
        height: 100%;
        left: 0;
        opacity: 1;
        right: 0;
        top: 0;
        transition: opacity .275s ease;
        width: 100%;
        z-index: 1;
    }

    &-name {
        @extend %position-absolute;
        @extend %text-align-left;
        background: rgba($white, .95);
        bottom: 0;
        color: $color-primary;
        font-family: $font-secondary;
        font-size: 1.25rem;
        left: 0;
        padding: 15px 15px;
        right: 0;
        width: 100%;
        z-index: 2;

        @include susy-media($bp-tablet) {
            font-size: 1.5rem;
        }

        @include susy-media($bp-wide) {
            opacity: 0;
            transform: translateY(100%);
            transition: opacity .275s ease,
                        transform .275s ease;
        }
    }
}

// Project Detail Page
.project {
    @extend .clearfix;

    &-img,
    &-details {
        @include full;
    }

    &-img {
        @extend %text-align-center;
        margin-bottom: gutter() * 1.75;
    }

    @include susy-media($bp-large) {
        &-img,
        &-details {
            @include nobreak;;
        }

        &-img {
            @include span(7);
            margin-bottom: 0;
        }

        &-details {
            @include span(last 5);
        }
    }
}